/** suisse-intl */
@font-face {
  font-family: suisse-intl;
  src: url(https://resources.shahabkhalvati.com/shared/fonts/SuisseIntl-Light-WebS.woff2)
      format("woff2"),
    url(https://resources.shahabkhalvati.com/shared/fonts/SuisseIntl-Light-WebS.woff)
      format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: suisse-intl;
  src: url(https://resources.shahabkhalvati.com/shared/fonts/SuisseIntl-Book-WebM.woff2)
      format("woff2"),
    url(https://resources.shahabkhalvati.com/shared/fonts/SuisseIntl-Book-WebM.woff)
      format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: suisse-intl;
  src: url(https://resources.shahabkhalvati.com/shared/fonts/SuisseIntl-Bold-WebM.woff2)
      format("woff2"),
    url(https://resources.shahabkhalvati.com/shared/fonts/SuisseIntl-Bold-WebM.woff)
      format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: suisse-intl;
  src: url(https://resources.shahabkhalvati.com/shared/fonts/SuisseIntl-BookItalic-WebM.woff2)
      format("woff2"),
    url(https://resources.shahabkhalvati.com/shared/fonts/SuisseIntl-BookItalic-WebM.woff)
      format("woff");
  font-weight: 400;
  font-style: italic;
  font-display: fallback;
}

@font-face {
  font-family: suisse-intl;
  src: url(https://resources.shahabkhalvati.com/shared/fonts/SuisseIntl-BoldItalic-WebM.woff2)
      format("woff2"),
    url(https://resources.shahabkhalvati.com/shared/fonts/SuisseIntl-BoldItalic-WebM.woff)
      format("woff");
  font-weight: 800;
  font-style: italic;
  font-display: fallback;
}

/** suisse-works */
@font-face {
  font-family: suisse-works;
  src: url(https://resources.shahabkhalvati.com/shared/fonts/SuisseWorks-Book-WebS.woff2)
      format("woff2"),
    url(https://resources.shahabkhalvati.com/shared/fonts/SuisseWorks-Book-WebS.woff)
      format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: suisse-works;
  src: url(https://resources.shahabkhalvati.com/shared/fonts/SuisseWorks-Bold-WebS.woff2)
      format("woff2"),
    url(https://resources.shahabkhalvati.com/shared/fonts/SuisseWorks-Bold-WebS.woff)
      format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: suisse-works;
  src: url(https://resources.shahabkhalvati.com/shared/fonts/SuisseWorks-BookItalic-WebS.woff2)
      format("woff2"),
    url(https://resources.shahabkhalvati.com/shared/fonts/SuisseWorks-Book-WebS.woff)
      format("woff");
  font-weight: 400;
  font-style: italic;
  font-display: fallback;
}

@font-face {
  font-family: suisse-works;
  src: url(https://resources.shahabkhalvati.com/shared/fonts/SuisseWorks-BoldItalic-WebS.woff2)
      format("woff2"),
    url(https://resources.shahabkhalvati.com/shared/fonts/SuisseWorks-BoldItalic-WebS.woff)
      format("woff");
  font-weight: 800;
  font-style: italic;
  font-display: fallback;
}

/** suisse-screen */
@font-face {
  font-family: suisse-screen;
  src: url(https://resources.shahabkhalvati.com/shared/fonts/SuisseScreen-Regular-WebM.woff2)
      format("woff2"),
    url(https://resources.shahabkhalvati.com/shared/fonts/SuisseScreen-Regular-WebM.woff)
      format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: suisse-screen;
  src: url(https://resources.shahabkhalvati.com/shared/fonts/SuisseScreen-Bold-WebM.woff2)
      format("woff2"),
    url(https://resources.shahabkhalvati.com/shared/fonts/SuisseScreen-Bold-WebM.woff)
      format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: suisse-screen;
  src: url(https://resources.shahabkhalvati.com/shared/fonts/SuisseScreen-RegularItalic-WebM.woff2)
      format("woff2"),
    url(https://resources.shahabkhalvati.com/shared/fonts/SuisseScreen-RegularItalic-WebM.woff)
      format("woff");
  font-weight: 400;
  font-style: italic;
  font-display: fallback;
}

@font-face {
  font-family: suisse-screen;
  src: url(https://resources.shahabkhalvati.com/shared/fonts/SuisseScreen-BoldItalic-WebM.woff2)
      format("woff2"),
    url(https://resources.shahabkhalvati.com/shared/fonts/SuisseScreen-BoldItalic-WebM.woff)
      format("woff");
  font-weight: 800;
  font-style: italic;
  font-display: fallback;
}

/** suisse-intl-mono */
@font-face {
  font-family: suisse-intl-mono;
  src: url(https://resources.shahabkhalvati.com/shared/fonts/SuisseIntlMono-Regular-WebS.woff2)
      format("woff2"),
    url(https://resources.shahabkhalvati.com/shared/fonts/SuisseIntlMono-Regular-WebS.woff)
      format("woff");
  font-weight: 400;
  font-style: italic;
  font-display: fallback;
}

@font-face {
  font-family: suisse-intl-mono;
  src: url(https://resources.shahabkhalvati.com/shared/fonts/SuisseIntlMono-Regular-WebS.woff2)
      format("woff2"),
    url(https://resources.shahabkhalvati.com/shared/fonts/SuisseIntlMono-Regular-WebS.woff)
      format("woff");
  font-weight: 800;
  font-style: italic;
  font-display: fallback;
}

/** input-mono */
@font-face {
  font-family: "input-mono";
  src: url("https://resources.shahabkhalvati.com/shared/fonts/Input-Mono-Light-Web.woff2")
      format("woff2"),
    url("https://resources.shahabkhalvati.com/shared/fonts/Input-Mono-Light-Web.woff")
      format("woff");

  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "input-mono";
  src: url("https://resources.shahabkhalvati.com/shared/fonts/Input-Mono-Regular-Web.woff2")
      format("woff2"),
    url("https://resources.shahabkhalvati.com/shared/fonts/Input-Mono-Regular-Web.woff")
      format("woff");

  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "input-mono";
  src: url("https://resources.shahabkhalvati.com/shared/fonts/Input-Mono-Medium-Web.woff2")
      format("woff2"),
    url("https://resources.shahabkhalvati.com/shared/fonts/Input-Mono-Medium-Web.woff")
      format("woff");

  font-weight: 600;
  font-style: normal;
}

/** input-sans */
@font-face {
  font-family: "input-sans";
  src: url("https://resources.shahabkhalvati.com/shared/fonts/Input-Sans-Light-Web.woff2")
      format("woff2"),
    url("https://resources.shahabkhalvati.com/shared/fonts/Input-Sans-Light-Web.woff")
      format("woff");

  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "input-sans";
  src: url("https://resources.shahabkhalvati.com/shared/fonts/Input-Sans-Regular-Web.woff2")
      format("woff2"),
    url("https://resources.shahabkhalvati.com/shared/fonts/Input-Sans-Regular-Web.woff")
      format("woff");

  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "input-sans";
  src: url("https://resources.shahabkhalvati.com/shared/fonts/Input-Sans-Bold-Web.woff2")
      format("woff2"),
    url("https://resources.shahabkhalvati.com/shared/fonts/Input-Sans-Bold-Web.woff")
      format("woff");

  font-weight: 600;
  font-style: normal;
}

/** soehne */
@font-face {
  font-family: "soehne";
  src: url("https://resources.shahabkhalvati.com/shared/fonts/soehne-buch.woff2")
      format("woff2"),
    url("https://resources.shahabkhalvati.com/shared/fonts/soehne-buch.woff")
      format("woff");

  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "soehne";
  src: url("https://resources.shahabkhalvati.com/shared/fonts/soehne-halbfett.woff2")
      format("woff2"),
    url("https://resources.shahabkhalvati.com/shared/fonts/soehne-halbfett.woff")
      format("woff");

  font-weight: 600;
  font-style: normal;
}

/** variables */
:root {
  --spacing: 15px;
  --spacing-half: calc(var(--spacing) / 2);
  --spacing-2: calc(2 * var(--spacing));
  --spacing-neg: calc(-1 * var(--spacing));
  --spacing-2-neg: calc(-2 * var(--spacing));

  --max-width: calc(30em + var(--spacing-2) * 2);

  --font-backup-ui: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  --font-backup-sans: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  --font-backup-serif: "Iowan Old Style", Baskerville, serif;

  --font-body-size: 15px;
  --font-body-line-height: 1.22em;
  --font-body-letter-spacing: 0.01em;

  --font-ui: "input-sans", var(--font-backup-ui);
  --font-ui-smoothing-moz: grayscale;
  --font-ui-smoothing-webkit: antialiased;

  --font-body: "soehne", var(--font-backup-sans);
  --font-body-smoothing-moz: grayscale;
  --font-body-smoothing-webkit: antialiased;

  --font-title: "input-sans", var(--font-backup-serif);
  --font-title-smoothing-moz: grayscale;
  --font-title-smoothing-webkit: antialiased;

  /*
  --font-mono: "test söhne mono", suisse-intl-mono, monospace;
  --font-mono-smoothing-moz: grayscale;
  --font-mono-smoothing-webkit: antialiased;
  */

  --font-mono-size: calc(var(--font-body-size) * 0.85);
  --font-mono-line-height: 1.4em;
  --font-mono-letter-spacing: 0em;

  --font-mono: "input-mono", monospace;
  --font-mono-smoothing-moz: auto;
  --font-mono-smoothing-webkit: auto;

  --font-code: "input-mono", monospace;
  --font-code-smoothing-moz: auto;
  --font-code-smoothing-webkit: auto;

  --forecolor: #353535;
  --background-color: #f9f9f9;
  --ui-link-color: #111111;
  --link-color: #2a7ae2;
  --link-color-hover: #111111;
  --ui-color: #e8e8e8;
}

@media screen and (min-width: 800px) {
  :root {
    --font-body-size: clamp(
      15px,
      calc(15px + 8 * ((100vw - 810px) / 960)),
      19px
    );
    --font-body-line-height: 1.33em;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
/*  --forecolor: #FAF3DD; */
    --forecolor: #D2C6CA;
    --background-color: #0f1a20;
    --ui-link-color: #4EA5D9;
    --link-color: #4EA5D9;
    --link-color-hover: #4EA5D9;
    --ui-color: #2F3E46;
  }
}

@media screen and  (prefers-color-scheme: dark) and (max-width: 600px) {
  :root {
    --background-color: #000;
  }
}

/** Reset some basic elements */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
hr,
dl,
dd,
ol,
ul,
figure {
  margin: 0;
  padding: 0;
}

/** Basic styling */
body {
  background-color: var(--background-color);
  color: var(--forecolor);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  -webkit-text-size-adjust: 100%;

  font-family: var(--font-body);
  font-size: var(--font-body-size);
  -moz-osx-font-smoothing: var(--font-body-smoothing-moz);
  -webkit-font-smoothing: var(--font-body-smoothing-webkit);

  line-height: var(--font-body-line-height);
  font-feature-settings: "calt", "clig", "kern", "liga", "ss02";

  transition: background-color 0.5s ease-in-out, color 0.5s;
}

/** Set `margin-bottom` to maintain vertical rhythm */
h1,
h2,
h3,
h4,
h5,
h6,
blockquote,
pre,
ul,
ol,
dl,
figure,
.highlight {
  margin-bottom: var(--spacing);
}

p + p,
p + img,
p + iframe {
  margin-top: var(--spacing);
}

p + .carousel {
  margin-top: var(--spacing-2);
}

.e-content li + li {
  margin-top: var(--spacing-half);
}

.e-content ul {
  margin-top: var(--spacing);
  margin-bottom: var(--spacing);
}

/** Images */
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

/** Figures */
figure > img {
  display: block;
}

figcaption {
  font-size: 17.5px;
}

/** Lists */
ul,
ol {
  margin-left: var(--spacing-2);
}

li > ul,
li > ol {
  margin-bottom: 0;
}

/** Headings */
h1,
h2,
h3,
h4 {
  font-weight: 800;
}
h5,
h6 {
  font-weight: 400;
}

/** Links */
a {
  color: var(--link-color);
  text-decoration: none;
}
a:visited {
  /*! color: #1756a9; */
}
a:hover {
  color: var(--link-color-hover);
  text-decoration: underline;
}

/** Blockquotes */

.e-content blockquote {
  margin-top: var(--spacing);
  margin-bottom: var(--spacing);
}

blockquote {
  border-left: 2px solid var(--ui-color);
  padding-left: var(--spacing);
  padding-top: var(--spacing);
  padding-bottom: var(--spacing);
}

/** Code formatting */
pre,
code {
  font-size: 15px;
  border: 1px solid #e8e8e8;
  border-radius: 3px;
  background-color: #eef;
}

code {
  padding: 1px 5px;
}

pre {
  padding: 8px 12px;
  overflow-x: scroll;
}
pre > code {
  border: 0;
  padding-right: 0;
  padding-left: 0;
}

/** Wrapper */
.wrapper {
  margin-right: auto;
  margin-left: auto;
  padding-right: var(--spacing-2);
  padding-left: var(--spacing-2);
  max-width: var(--max-width);
}
@media screen and (max-width: 800px) {
  .wrapper {
    padding-right: var(--spacing);
    padding-left: var(--spacing);
    padding-top: var(--spacing);
  }
}

/** Clearfix */
.wrapper:after,
.footer-col-wrapper:after {
  content: "";
  display: table;
  clear: both;
}

/** Icons */
.icon > svg {
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: middle;
}
.icon > svg path {
  fill: #828282;
}

/** Site header */
.site-header {
  min-height: 56px;
  position: relative;
  margin-top: calc(2 * var(--spacing-2));
  margin-bottom: var(--spacing-2);
}
@media screen and (max-width: 800px) {
  .site-header {
    margin-top: var(--spacing);
    margin-bottom: var(--spacing);
  }
}

.site-title {
  font-size: 1.55em;
  line-height: 0.9em;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left;
  font-weight: 700;
  font-family: suisse-intl, var(--font-ui);
  -moz-osx-font-smoothing: var(--font-ui-smoothing-moz);
  -webkit-font-smoothing: var(--font-ui-smoothing-webkit);
}
.site-title,
.site-title:visited {
  /*! color: #424242; */
}

.site-nav {
  float: right;
  line-height: 56px;
}
.site-nav .menu-icon {
  display: none;
}
.site-nav .page-link {
  color: var(--ui-link-color);
  line-height: 1.7;
  font-family: var(--font-ui);
  text-transform: uppercase;
  font-size: 0.85em;
  -moz-osx-font-smoothing: var(--font-ui-smoothing-moz);
  -webkit-font-smoothing: var(--font-ui-smoothing-webkit);
}
.site-nav .page-link:not(:first-child) {
  margin-left: var(--spacing);
}

/* make nav menu vertical  */
@media screen and (max-width: 600px) {
  .site-nav {
    margin-top: calc(-1 * var(--spacing-half));
  }
  .site-nav .trigger {
    display: flex;
    flex-direction: column;
    place-items: flex-end;
  }
}

/** Site footer */
.site-footer {
  margin-top: var(--spacing);
  font-family: var(--font-ui);
  -moz-osx-font-smoothing: var(--font-ui-smoothing-moz);
  -webkit-font-smoothing: var(--font-ui-smoothing-webkit);
  padding-bottom: var(--spacing);
  padding-top: var(--spacing);
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-row {
  display: flex;
  justify-content: center;
  margin-left: var(--spacing-neg);
  margin-right: var(--spacing-neg);
  flex-wrap: wrap;
  line-height: 1.1em;
}
.footer-row > p.text {
  font-family: var(--font-ui);
  font-size: 0.7em;
  letter-spacing: -0.03em;
  margin-top: 0;
  -moz-osx-font-smoothing: var(--font-ui-smoothing-moz);
  -webkit-font-smoothing: var(--font-ui-smoothing-webkit);
}

.footer-row > p.text::before {
  content: "/";
  padding: 0 1ex;
}
.footer-row > p.text:first-of-type::before {
  content: "";
}

/* @media screen and (max-width: 600px) {
  .footer-col {
    float: none;
    width: calc(100% - (var(--spacing-2) / 2));
  }
} */

/** Page content */
.page-content {
  padding: var(--spacing-2) 0;
  flex: 1;
}

.page-heading {
  font-size: clamp(18px, calc(18px + 19 * ((100vw - 320px) / 700)), 22px);
}

.post-list {
  margin-left: 0;
  list-style: none;
}
.post-list > li {
  margin-bottom: var(--spacing-2);
  padding-bottom: var(--spacing-2);
}
.post-list > li.h-entry.photos {
  margin-bottom: var(--spacing-2);
  padding-bottom: var(--spacing-2);
}

.post-meta {
  font-size: max(12px, 0.6em);
  text-align: left;
  font-family: var(--font-ui);
  text-transform: uppercase;
  opacity: 0.5;
  -moz-osx-font-smoothing: var(--font-ui-smoothing-moz);
  -webkit-font-smoothing: var(--font-ui-smoothing-webkit);
}

.h-entry.photos div.e-content > p:first-of-type {
  font-size: 0.85em;
  text-transform: uppercase;
  font-weight: 600;
  font-variant-numeric: tabular-nums;
}

.post-link {
  display: block;
  font-size: 24px;
}

/** Posts */
.post-header {
  margin-bottom: var(--spacing-2);
}

article > header > h1,
article > header > h2,
article > header > h3,
article > h1,
article > h2,
article > h3 {
  letter-spacing: -1px;
  line-height: 1;
  font-family: var(--font-title);
  -moz-osx-font-smoothing: var(--font-title-smoothing-moz);
  -webkit-font-smoothing: var(--font-title-smoothing-webkit);
}

h1 {
  --adoptive-font-size: clamp(26px, calc(24px + 17 * ((100vw - 320px) / 700)), 36px);
  font-size: var(--adoptive-font-size);
}

h2 {
  --adoptive-font-size: clamp(26px, calc(24px + 17 * ((100vw - 320px) / 700)), 36px);
  font-size: calc(var(--adoptive-font-size) * 0.65);
}

p + h2 {
  margin-top: 1.25em;
}

h3 {
  --adoptive-font-size: clamp(26px, calc(24px + 17 * ((100vw - 320px) / 700)), 36px);
  font-size: calc(var(--adoptive-font-size) * 0.5);
}

p + h3 {
  margin-top: 1em;
}

.post-list h1 {
  font-size: calc(var(--adoptive-font-size) * 0.75);
}

.post-meta + h1,
.post-meta + h2 {
  margin-top: var(--spacing-half);
  margin-bottom: var(--spacing-2);
}

.post-content {
  margin-bottom: var(--spacing-2);
}
.post-content h2 {
  font-size: 24px;
}
@media screen and (max-width: 800px) {
  .post-content h2 {
    font-size: 24px;
  }
}
.post-content h3 {
  font-size: 22px;
}
@media screen and (max-width: 800px) {
  .post-content h3 {
    font-size: 22px;
  }
}
.post-content h4 {
  font-size: 20px;
}
@media screen and (max-width: 800px) {
  .post-content h4 {
    font-size: 20px;
  }
}

.wip > span.post-meta::after,
.wip > .post-header > .post-meta::after {
  content: " / In Progress";
}

#post-nav {
  padding-top: 25px;
}

#post-nav .prev {
  padding-right: 10px;
}

video {
  max-width: 100%;
}

.post-list .e-content iframe,
.e-content img {
  margin-right: calc(var(--spacing-neg) * 2);
  margin-left: calc(var(--spacing-neg) * 2);
}

@media screen and (max-width: 800px) {
  .e-content iframe,
  .e-content img {
    margin-left: var(--spacing-neg);
    margin-right: var(--spacing-neg);
  }
}

.e-content iframe {
  width: 100vw;
  aspect-ratio: 16 / 9;
  height: 100%;
  max-height: 100vh;
  --neg-spacing: min(
    calc((100vw - var(--max-width)) / 2 * -1),
    calc(var(--spacing-2-neg) * 2)
  );
  margin-left: var(--neg-spacing);
  margin-right: var(--neg-spacing);
  margin-bottom: var(--spacing);
}

.post-list .e-content iframe {
  max-width: calc(100% + 2 * var(--spacing-2));
}

.e-content img {
  max-width: calc(100% + 2 * var(--spacing-2));
  max-height: calc(100vh + 4 * var(--spacing-neg));
}

@media screen and (max-width: 800px) {
  .e-content img {
    max-width: calc(100% + var(--spacing-2));
  }
}

@media screen and (orientation: landscape) {
  .e-content img {
    max-height: calc(100vh + 6 * var(--spacing-neg));
  }
}

.e-content {
  text-align: center;
  font-size: var(--font-body-size);
  letter-spacing: var(--font-body-letter-spacing);
  line-height: var(--font-body-line-height);
  -moz-osx-font-smoothing: var(--font-body-smoothing-moz);
  -webkit-font-smoothing: var(--font-body-smoothing-webkit);
}
.post.wip .e-content {
  text-align: center;
  font-family: var(--font-mono);
  font-size: var(--font-mono-size);
  letter-spacing: var(--font-mono-letter-spacing);
  line-height: var(--font-mono-line-height);
  -moz-osx-font-smoothing: var(--font-mono-smoothing-moz);
  -webkit-font-smoothing: var(--font-mono-smoothing-webkit);
}
.e-content p,
.e-content ul,
.e-content h1,
.e-content h2,
.e-content h3,
.e-content h4,
.e-content h5,
.e-content h6 {
  text-align: left;
}

.e-content ul {
  list-style: "– ";
}

.e-content > ul {
  margin-left: var(--spacing);
}

.carousel {
  overflow-y: hidden;
  overflow-x: scroll;
  display: flex;
  scroll-snap-type: x;
  background-color: black;
  padding: calc(1 * var(--spacing-2)) var(--spacing);
  margin-left: 50%;
  transform: translateX(-50%);
  flex-direction: row;
  max-height: 80vh;
  box-sizing: border-box;
  width: calc(100vw);
  place-items: center;
  place-content: flex-start;
}

.carousel img {
  scroll-snap-align: center;
  max-width: calc(100% - var(--spacing-2));
  object-fit: contain;
  margin: 0;
  margin-right: var(--spacing);
  flex: 0;
  max-height: calc(80vh - 2 * var(--spacing));
  height: revert-layer;
}

.post-content .carousel {
  max-height: 90vh;
}

.post-content .carousel img {
  max-height: calc(90vh - 2 * var(--spacing));
}

.carousel img:first-of-type {
}

.carousel img:last-of-type {
  margin-right: 0;
}

@media (orientation: landscape) {
}
