/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
}

@media (prefers-reduced-motion) {
}

@media (prefers-color-scheme: dark) {
	/* .vercelLogo {
    filter: invert(1);
  } */
	/* .logo {
    filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
  } */
}
